@{
    Layout = "_AdminLayout";
}
@model IEnumerable<TableReservations.Models.Product>

@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h3 mb-4 text-gray-800">Admin Dashboard</h1>
        </div>
    </div>
</div> 